<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AlbertMage\Sales\Api\Data\OrderQueueInterface" type="AlbertMage\Sales\Model\OrderQueue" />
    <preference for="AlbertMage\Sales\Model\Order\Pdf\Invoice" type="AlbertMage\Sales\Model\Order\Pdf\Invoice" />
    <preference for="AlbertMage\Sales\Api\Data\OrderInterface" type="AlbertMage\Sales\Model\Order" />
    <preference for="AlbertMage\Sales\Api\Data\OrderItemInterface" type="AlbertMage\Sales\Model\OrderItem" />
    <preference for="AlbertMage\Sales\Api\Data\OrderItemInterface" type="AlbertMage\Sales\Model\OrderItem" />
    <preference for="AlbertMage\Sales\Api\Data\OrderSearchResultsInterface" type="AlbertMage\Sales\Model\OrderSearchResults" />
    <preference for="AlbertMage\Sales\Api\Data\OrderAddressInterface" type="AlbertMage\Sales\Model\OrderAddress" />
    <preference for="AlbertMage\Sales\Api\OrderManagementInterface" type="AlbertMage\Sales\Model\OrderManagement" />
    <!-- Observer -->
    <virtualType name="AlbertMage\Sales\Observer\OrderCreate" type="AlbertMage\Sales\Observer\Order">
        <arguments>
            <argument name="queueTopic" xsi:type="string">order.create</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlbertMage\Sales\Observer\OrderCreateDle" type="AlbertMage\Sales\Observer\Order">
        <arguments>
            <argument name="queueTopic" xsi:type="string">dle.order.create</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlbertMage\Sales\Observer\OrderCancelDle" type="AlbertMage\Sales\Observer\Order">
        <arguments>
            <argument name="queueTopic" xsi:type="string">dle.order.cancel</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlbertMage\Sales\Observer\OrderPaymentCatpure" type="AlbertMage\Sales\Observer\Order">
        <arguments>
            <argument name="queueTopic" xsi:type="string">order.payment.capture</argument>
        </arguments>
    </virtualType>


</config>